/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}


/*alinierea la centru*/

.jumbotron {
    height: 400px;
    text-align: center;
    background-image: url('../images/fond.jpg');
}


/*Fontulla textul de sus*/

ul.nav,
.jumbotron h1 {
    font-family: 'Kalam', cursive;
}

ul.nav {
    font-size: 15px;
    padding-top: 10px;
}

.navbar {
    height: 70px
}


/*Marimea la buton */

.btn-lg {
    font-size: 28px;
}

.emphasis {
    color: black;
}

.homepage {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.homepage h2 {
    text-transform: uppercase;
    color: #0b8d6f;
}

.homepage h3 {}


.ion {
    border-color: #0b8d6f;
    width: 20%;
}



#despre-noi {
   /* background-color: #0fcda1;*/
}

footer {
  /*  background-color: #0fcda1;*/
    padding-top: 100px;
    padding-bottom: 30px;
}

img.img-responsive {
    block-size: inherit;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #0b8d6f;
    border-color: #0b8d6f;
}


.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size: 20px;
}