@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    background-color: #f9f9f9;
    font-family:'Open Sans',sans-serif;
    line-height:normal;
    font-size: 16px;
    color: #444;
    padding:0;
    margin:0;
}

.post-body h2 {
    color: #e25633;
    text-align: center;
}

.post-body {
    max-width: 680px;
    margin: 20px auto;
    border: 10px solid #f0f0f0;
    padding: 15px 20px;
    background-color: #fff;
    color: #444;
}

.post-body img {
    max-width: 100%;
    height: auto;
}

.post-body iframe, iframe {
    max-width: 100%;
    margin: 0 auto;
}

p.vidv {
    text-align: center;
}

p.texty {
    font-weight: bold;
    font-size: 18px;
    color: crimson;
    text-align: center;
    margin: 10px auto;
}

#flippy {
    text-align: center;
}

#flippy button {
    background: #34C5C0;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    margin: 10px auto;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 3px 0px 0px #3E3E3E;
    vertical-align: middle;
    cursor: pointer;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    transition: background 0.1s ease-in-out;
}

#flippy button:hover {
    background: #9e4fbf;
    outline: none;
}

#flippy button:focus {
    background: #9e4fbf;
    outline: none;
}

#flippanel {
    padding: 1px;
    text-align: left;
    background: #f5f5f5;
    border: 0px;
}

#flippanel {
    padding: 24px;
    display: none;
}
